<!-- <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLegalHistory" aria-hidden="true" #loadingModal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <img class="gifLoading" src="../../assets/Gifts/Dual ring.gif">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="containerComic">
    <table *ngIf="isLoading === false" class="comicTable table table-sm">
      <tbody *ngIf="isLoading === false">
        <tr *ngFor="let row of dataArray">
          <td *ngFor="let item of row">
            <a class="linkComics" href="{{item.urls[0].url}}" target="_blank">
              <img class="comicImage" src="{{item.thumbnail.path + '.' + item.thumbnail.extension}}"/> 
              <p class="comicTitle font-weight-bold text-capitalize">{{item.title}}</p>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>