<div class="tituloImperial">
    <h4>LIBRERIA IMPERIAL: MARVEL COMICS</h4>
</div>
    
<div class="titulo">
    <h2>SERIES</h2>
</div>

<div class="containerSeries">
    <table *ngIf="isLoading === false" class="characterTable table table-sm">
      <tbody *ngIf="isLoading === false">
        <tr *ngFor="let row of dataArray">
          <td *ngFor="let item of row">
            <a class="linkSeries" href="{{item.urls[0].url}}" target="_blank">
              <div class="description">
                {{item.description}}
              </div>
              <div>
                <img class="serieImage" src="{{item.thumbnail.path + '.' + item.thumbnail.extension}}"/>
              </div>
              <p class="serieTitle font-weight-bold text-capitalize">{{item.title}}</p>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>