.tituloImperial {
    font-family: 'Roboto';
    color: red;
    margin-left: 1%;
}

.titulo {
    font-family: 'Roboto';
    margin-left: 47%;
}

.containerSeries {
    margin-top: 5%;
    margin-left: 10%;
}

.serieImage {
    width: 200px;
    box-shadow: 2px 2px 4px black;
}

.serieTitle {
    font-family: 'Roboto';
    text-align: center;
    font-size: 13px;
}

.serieTable {
    width: 100px;
}

.containerSerie {
    margin-top: 3%;
    margin-left: 1%;
}

.serieTitle {
    text-shadow: 1px 1px 1px gray;
}

.gifLoading {
    margin-top: 50%;
}

.imageSeries {
    width: 100px;
}

.table td {
    padding: 10px;
}

.linkSeries {
    text-decoration: none;
}

.linkSeries:link {
    color: black;
}

.linkSeries:visited {
    color: rgb(121, 118, 118);
}

.linkSeries:hover img {
    box-shadow: 3px 3px 4px rgb(218, 33, 33);
}

.linkSeries:hover .description {
    opacity: 1;
    transition: all 0.5s ease-in;
}

.linkSeries:hover p {
    color: red;
}

.description {
    font-family: 'Roboto';
    font-size: 12px;
    position: absolute;
    opacity: 0;
    text-align: center;
    padding: 2px 2px 2px 2px;
    background-color: rgb(187, 54, 54);
    width: 200px;
    color: white;
    transition: all 0.5s ease-out;
}