/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/Fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Light.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
    url('./assets/Fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
}

.navbar {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(144, 150, 150);
    color: #fff;
    border: 1px solid white;
    border-bottom: 0px;
}

.navbarNavegation {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 55px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: rgb(144, 150, 150);
    color: #fff;
    border: 1px solid white;
}

.navbarFooter {
    display: fixed;
    align-items: center;
    margin-top: 40%;
    padding: 3px;
    background-color: rgb(144, 150, 150);
    color: #fff;
}

.footer {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    bottom: 0px;
}

li {
    list-style: none;
}

.elementM {
    padding-left: 45%;
}

.elementSignIn {
    padding-left: 35%;
}

.menu {
    width: 100%;
    display: flex;
    gap: 1em;
}

.buttonSingIn {
    background-color: black;
    color: #EAEAEA;
    font-family: 'Roboto';
    width: 150px;
    height: 40px;
}

.itemDrop {
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

.libreriaLink {
    text-decoration: none;
    font-family: 'Roboto';
}

.somosLink {
    text-decoration: none;
    font-family: 'Roboto';
}

.navegationLink {
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

.libreriaLink:link {    
    color: white
}

.libreriaLink:visited {
    color: white;
}

.somosLink:link {    
    color: white
}

.somosLink:visited {
    color: white;
}