/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.navbar {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgb(144, 150, 150);
    color: #fff;
}

li {
    list-style: none;
}

.elementM {
    padding-left: 40%;
}

.elementSignIn {
    padding-left: 30%;
}

.menu {
    width: 100%;
    display: flex;
    gap: 1em;
}

.buttonSingIn {
    background-color: black;
    color: #EAEAEA;
    font-family: 'Roboto';
    width: 150px;
    height: 40px;
}

.itemDrop {
    text-decoration: none;
    font-family: 'Roboto';
}

.itemDrop:link {
    color: black;
}

.itemDrop:visited {
    color: rgb(121, 118, 118);
}

.dropDownList {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.dropDownList:hover .dropDownItems {
    display: block;
}

.dropDownItems {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}
