.containerCharacter {
    margin-top: 10%;
    margin-left: 15%;
}

.characterImage {
    width: 150px;
    box-shadow: 2px 2px 4px black;
}

.characterTitle {
    font-family: 'Roboto';
    text-align: center;
    font-size: 13px;
}

.characterTable {
    width: 100px;
}

.containercharacter {
    margin-top: 10%;
    margin-left: 15%;
}

.characterTitle {
    text-shadow: 1px 1px 1px gray;
}

.gifLoading {
    margin-top: 50%;
}

.imageCharacters {
    width: 100px;
}

.table td {
    padding: 10px;
}

.comicImage {
    width: 150px;
    box-shadow: 2px 2px 4px black;
}

.comicTitle {
    font-family: 'Roboto';
    text-align: center;
    font-size: 13px;
}

.comicTable {
    width: 100px;
}

.containerComic {
    margin-top: 10%;
    margin-left: 15%;
}

.comicTitle {
    text-shadow: 1px 1px 1px gray;
}

.linkCharacters {
    text-decoration: none;
}

.linkCharacters:link {
    color: black;
}

.linkCharacters:visited {
    color: rgb(121, 118, 118);
}

.linkCharacters:hover img {
    box-shadow: 3px 3px 4px rgb(218, 33, 33);
}

.linkCharacters:hover p {
    color: red;
}