.containerCharacter {
    margin-top: 10%;
    margin-left: 15%;
}

.characterImage {
    width: 200px;
    box-shadow: 2px 2px 4px black;
}

.characterTitle {
    font-family: 'Roboto';
    text-align: center;
    font-size: 13px;
}

.characterTable {
    width: 100px;
}

.containerCharacter {
    margin-top: 3%;
    margin-left: 1%;
}

.characterTitle {
    text-shadow: 1px 1px 1px gray;
}

.gifLoading {
    margin-top: 50%;
}

.imageCharacters {
    width: 100px;
}

.table td {
    padding: 10px;
}

.linkCharacters {
    text-decoration: none;
}

.linkCharacters:link {
    color: black;
}

.linkCharacters:visited {
    color: rgb(121, 118, 118);
}

.linkCharacters:hover img {
    box-shadow: 3px 3px 4px rgb(218, 33, 33);
}

.linkCharacters:hover .description {
    opacity: 1;
    transition: all 0.5s ease-in;
}

.linkCharacters:hover p {
    color: red;
}

.tituloImperial {
    font-family: 'Roboto';
    color: red;
    margin-left: 1%;
}

.titulo {
    font-family: 'Roboto';
    margin-left: 41%;
}

.description {
    font-family: 'Roboto';
    font-size: 15px;
    position: absolute;
    opacity: 0;
    text-align: center;
    padding: 2px 2px 2px 2px;
    background-color: rgb(187, 54, 54);
    width: 200px;
    color: white;
    transition: all 0.5s ease-out;
}